<div class="overlay" *ngIf="!isLoaded">
    <div class="spinner">
        <img src="../../../assets/spinner/128x128.gif"/>
    </div>
</div>
<div class="table-tool-panel">
    <div class="title">Критерії</div>
    <div class="tools">
        <button class="btn btn-info" (click)="createCriteria()">Створити</button>
        <button class="btn btn-danger" (click)="deleteCriterias()">Видалити</button>
        <div class="filter-container">
          <input class="form-control" type="text" (keyup)="applyFilter($event)" placeholder="Введіть назву критерію для пошуку">
        </div>
    </div>
</div>
<div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Назва </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Опис </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="check">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let row" >
            <input type="checkbox" [(ngModel)]="row.checked"/>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'description', 'check']; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'description', 'check'];" (dblclick)="updateCriteria(row)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>
