<div class="modal-header">
    <div class="modal-title pull-left">Створити оцінку для <b>{{object.name}}</b></div>
    <a class="close" (click)="bsModalRef.hide()"></a>
</div>
<div *ngIf="!areCriteriasLoaded || !isWaterObjectLoaded">
    <img class="center" src="../../../assets/spinner/128x128.gif"/>
</div>
<div *ngIf="areCriteriasLoaded && isWaterObjectLoaded" class="modal-body form-group">
    <div class="label">Код об'єкту:</div>
    <input [(ngModel)]="waterObject.code" class="form-control" type="text" readonly />
    
    <div class="label">Опис:</div>
    <input [(ngModel)]="waterObject.description" class="form-control" type="text" readonly />

    <div class="label required-field">Автор:</div>
    <input [(ngModel)]="author" class="form-control" type="text" />
    
    <div class="label required-field">Коментар:</div>
    <textarea [(ngModel)]="comment" class="form-control" rows="4" style="resize: none;"></textarea>
    
    <div class="label required-field">Проблема:</div>
    <input class="form-control" type="text" matInput [formControl]="criteriaAutocompleteControl" [matAutocomplete]="auto" [(ngModel)]="selectedCriteriaName" />
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let criteria of filterCriterias | async" [value]="criteria.name">
            {{criteria.name}}
        </mat-option>
    </mat-autocomplete>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Скасувати</button>
    <button *ngIf="areCriteriasLoaded && isWaterObjectLoaded" [disabled]="!validateReview()" type="button" class="btn btn-success" (click)="submitReview()" form="rolesForm">Відправити</button>
</div>