/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ol/ol.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/flatly/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.ol-mouse-position {
    display: none;
}

.navbar {
    height: 70px;
}

.modal-header {
    background-color: #2C3E50 !important;
    color: white;
}

.close {  
    text-decoration: none;
    cursor:pointer;
    font-size: 24px;
}
.close::after {
    content: '×'
}
.modal-header .close {
    padding: 0;
    margin: 0 0 0 10px;
}
.modal .close {
    color: white;
}
.modal .close:not(:disabled):not(.disabled):hover {
    color: red;
}
.close:not(:disabled):not(.disabled):hover {
    color: red;
}
