/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ol/ol.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/flatly/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

/* Common modal styles*/
.modal-header {
    background-color: #2C3E50 !important;
    color: white;
}

.modal-header .modal-title {
    font-size: large;
}

.close {  
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
}
.close::after {
    content: '×'
}
.modal-header .close {
    padding: 0;
    margin: 0 0 0 10px;
}
.modal .close {
    color: white;
}
.modal .close:not(:disabled):not(.disabled):hover {
    color: red;
}
.close:not(:disabled):not(.disabled):hover {
    color: red;
}

/* Common form elements styles */
.form-control {
    color: black;
}
.form-control:focus {
    color: black;
}

.label {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.label.required-field::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

/* Main page */
.ol-mouse-position {
    display: none;
}

.navbar {
    height: 70px;
}

/* Table page styles*/
.full-screen-table-wrapper {
    height: 100%;
}

.full-screen-table-wrapper table tbody {
    position: relative;
}

.full-screen-table-wrapper table tbody .scroll-container {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
}
.full-screen-table-wrapper table.table-hover tbody tr {
    cursor: pointer;
}

.table-tool-panel {
    margin: 5px 10px 5px 0;
    height: 36px;
    width: 100%;
}
.table-tool-panel .title {
    margin: 5px 0 0 10px;
    font-size: larger;
    font-weight: bold;
    float: left;
}
.table-tool-panel .tools {
    margin-right: 10px;
    font-size: larger;
    font-weight: bold;
    float: right;
}
.table-tool-panel button {
    min-width: 150px;
    margin-left: 5px;
}

/* Common styles for all pages */
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
.overlay .spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -40px;
    margin-left: -50px;
  }