RiversECO.DataContext/bin/
RiversECO.API/obj/
RiversECO.DataContext/obj/
RiversECO.Repositories/obj/
RiversECO.Common/obj/
RiversECO.Contracts/obj/
RiversECO.Dtos/obj/
RiversECO.Models/obj/
RiversECO.Services/obj/
RiversECO.API/bin/
RiversECO.Repositories/bin/
.vs/

