<div class="overlay" *ngIf="!isLoaded">
    <div class="spinner">
        <img src="../../../assets/spinner/128x128.gif"/>
    </div>
</div>
<div class="table-tool-panel">
  <div class="title">Оцінки</div>
  <div class="tools">
    <div class="filter-container">
      <input class="form-control" type="text" (keyup)="applyFilter($event)" placeholder="Введіть автора чи назву водного об'єкту для пошуку">
    </div>
  </div>
</div>
<div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Автор </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.createdBy}} </mat-cell>
      </ng-container>
 
      <ng-container matColumnDef="waterObject">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Об'єкт </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.waterObject.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Коментар </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.comment}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="['createdBy', 'waterObject', 'comment']; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['createdBy', 'waterObject', 'comment'];"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
  </div>
