<div class="overlay" *ngIf="!isLoaded">
    <div class="spinner">
        <img src="../../../assets/spinner/128x128.gif"/>
    </div>
</div>
<div id="map-layer"></div>
<div id="popup" class="ol-popup">    
    <div class="modal-header">
        <span *ngIf="selectedObject">{{selectedObject.name}}</span>
        <span *ngIf="!selectedObject">Завантаження...</span>
        <a class="close" (click)="closeOverlay()"></a>
    </div>
    <div class="modal-body">
        <div class="modal-body-loading" *ngIf="!selectedObject">
            <img src="../../../assets/spinner/48x48.gif"/>
        </div>
    </div>
    <div class="modal-footer" *ngIf="selectedObject">
        <button 
            class="btn btn-info btn-sm"
            [routerLink]="['/management/reviews', selectedObject.id]">
            Переглянути оцінки
        </button>
        <button 
            class="btn btn-info btn-sm"
            (click)="createReivew()">
            Додати оцінку
        </button>
    </div>    
</div>